[submodule "software/tmux/.tmux/tmux-powerline"]
	path = software/tmux/.tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline
[submodule "software/emacs/.emacfg/prelude"]
	path = software/emacs/.emacfg/prelude
	url = https://github.com/bbatsov/prelude
