subject: Voice message from: %from%
from:voicemail@%domain%
to:%email%
header:X-Content: Voicemail\nX-Voicemail-Sender: %from%

Hello %user%@%domain%,

%from% left a voice message for you.

The message is %vmsg_length%s long.

Thank you for using %domain%'s Voicemail.

Your voicemail system.

-------------------------------------------------------------
This message was created by %domain%'s voicemail system.
-------------------------------------------------------------
