[Unit]
Description=NOSQL DB
After=syslog.target network.target

[Service]
Type=forking
User=aerospike
LimitNOFILE=100000
ExecStart=/opt/database/aerospike/bin/asd start

[Install]
WantedBy=multi-user.target
